@using BetPay.Enums
@inject IRepositoryWrapper RepositoryWrapper
@rendermode InteractiveServer



<SfGrid @ref="BetGridInstance" DataSource="Bets" Allow AllowPaging="true" AllowSelection="true" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel"})">
    <GridPageSettings PageSize="10"></GridPageSettings>
    <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true"></GridEditSettings>
    <GridEvents RowSelected="RowSelectHandler" TValue="Bet" OnActionComplete="BetActionsHandler"></GridEvents>
    <GridColumns>
        <GridColumn Field="@nameof(Bet.BetId)" Visible="false" IsPrimaryKey="true" IsIdentity="true"></GridColumn>
        <GridColumn Field="@nameof(Bet.Stake)" HeaderText="Stake"></GridColumn>
        <GridColumn Field="@nameof(Bet.TotalOdds)" AllowAdding="false" AllowEditing="false" HeaderText="Total Odds" Format="0.00"></GridColumn>
        <GridColumn Field="@nameof(Bet.PotentialWin)" AllowAdding="false" AllowEditing="false" HeaderText="Potential Win" Format="C2"></GridColumn>
        <GridColumn Field="@nameof(Bet.BetDate)" DefaultValue="DateTime.Today" Format="d" HeaderText="Bet Date" Type="Syncfusion.Blazor.Grids.ColumnType.Date"></GridColumn>
        <GridColumn Field="Bookmaker.Name" HeaderText="Bookmaker" ForeignKeyField="BookmakerId" EditType="EditType.DropDownEdit">
            <EditTemplate>
                <SfDropDownList ID="Bookmakers" TValue="int" TItem="Bookmaker" PopupHeight="230px" Placeholder="Bookmaker" DataSource="Bookmakers">
                    <DropDownListEvents TValue="int" TItem="Bookmaker" ValueChange="OnBookmakerSelect"></DropDownListEvents>
                    <DropDownListFieldSettings Text="Name" Value="BookmakerId"></DropDownListFieldSettings>
                </SfDropDownList>
            </EditTemplate>
        </GridColumn>
        <GridColumn Field="@nameof(Bet.Status)" HeaderText="Status"></GridColumn>
        <GridColumn Field="@nameof(Bet.IsTaxIncluded)" DisplayAsCheckBox="true" AllowEditing="false"></GridColumn>
    </GridColumns>
</SfGrid>

<br />

@if (IsBetSelected)
{
    <center>
        <h2>Events for selected bet!</h2>
    </center>

    <SfGrid @ref="EventGridInstance" DataSource="Events" Query="@BuildQuery()" TValue="Event" Toolbar="@(new List<string>() { "Add", "Delete", "Update", "Cancel" })">
        <GridEvents TValue="Event" OnActionComplete="EventActionHandler"></GridEvents>
        <GridSelectionSettings></GridSelectionSettings>
        <GridEditSettings AllowEditing="true" AllowAdding="true" AllowDeleting="true" NewRowPosition="NewRowPosition.Bottom"></GridEditSettings>
        <GridColumns>
            <GridColumn Field="@nameof(Event.EventId)" IsPrimaryKey="true" IsIdentity="true" Visible="false"></GridColumn>
            <GridColumn Field="@nameof(Event.Odds)" AllowEditing="false" HeaderText="Odds"></GridColumn>
            <GridColumn Field="EventType.Name" AllowAdding="true" AllowEditing="false" HeaderText="Event Type" EditType="EditType.DropDownEdit">
                <EditTemplate>
                    <SfDropDownList TValue="int" TItem="EventType" DataSource="@EventTypes" PopupHeight="230px" Placeholder="Select Event Type">
                        <DropDownListFieldSettings Text="Name" Value="EventTypeId"></DropDownListFieldSettings>
                        <DropDownListEvents TValue="int" TItem="EventType" ValueChange="OnEventTypeChanged"></DropDownListEvents>
                    </SfDropDownList>
                </EditTemplate>
            </GridColumn>
            <GridColumn Field="Category.Name" AllowAdding="true" AllowEditing="false" HeaderText="Category" EditType="EditType.DropDownEdit">
                <EditTemplate>
                    <SfDropDownList TValue="int" TItem="Category" DataSource="@Categories" PopupHeight="230px" Placeholder="Select Category">
                        <DropDownListFieldSettings Text="Name" Value="CategoryId"></DropDownListFieldSettings>
                        <DropDownListEvents TValue="int" TItem="Category" ValueChange="OnCategoryChanged"></DropDownListEvents>
                    </SfDropDownList>
                </EditTemplate>
            </GridColumn>
            <GridColumn Field="@nameof(Event.Status)" HeaderText="Status" EditType="EditType.DropDownEdit">
                <EditTemplate>
                    <SfDropDownList ID="StatusEnums" TItem="string" TValue="StatusEnum" DataSource="@StatusValues"  @bind-Value="@EventStatusEnumVal">
                        <DropDownListEvents TValue="StatusEnum" TItem="string" ValueChange="OnEventStatusChanged"></DropDownListEvents>
                        <DropDownListFieldSettings Text="StatusEnum" Value="StatusEnum"></DropDownListFieldSettings>
                    </SfDropDownList>
                </EditTemplate>
            </GridColumn>
        </GridColumns>

    </SfGrid>

}
else
{
    <center>
        <h2>Select bet to display events!</h2>
    </center>

}


@code {

    SfGrid<Bet> BetGridInstance { get; set; }
    SfGrid<Event> EventGridInstance { get; set; }
    public IEnumerable<Bet> Bets { get; set; }
    public IEnumerable<Event> Events { get; set; }
    public IEnumerable<Bookmaker> Bookmakers { get; set; }
    public IEnumerable<Category> Categories { get; set; }
    public IEnumerable<EventType> EventTypes { get; set; }
    public Guid? RowIndex { get; set; }
    public bool IsBetSelected;
    public string[] StatusValues = Enum.GetNames(typeof(StatusEnum));
    public StatusEnum EventStatusEnumVal { get; set; }
    public Bookmaker BookmakerVal { get; set; }
    public Category CategoryVal { get; set; }
    public EventType EventTypeVal { get; set; }





    protected override async Task OnInitializedAsync()
    {
        Bets = await RepositoryWrapper.BetRepository.GetAllBetsAsync();
        Events = await RepositoryWrapper.EventRepository.GetAllEventsAsync();
        Bookmakers = await RepositoryWrapper.BookmakerRepository.GetAllBookmakersAsync();
        Categories = await RepositoryWrapper.CategoryRepository.GetAllCategoriesAsync();
        EventTypes = await RepositoryWrapper.EventTypeRepostiory.GetAllEventTypesAsync();

    }

    public async Task RowSelectHandler(RowSelectEventArgs<Bet> Args)
    {

        RowIndex = Args.Data.BetId;
        IsBetSelected = true;
    }

    public async void OnEventStatusChanged(ChangeEventArgs<StatusEnum, string> args)
    {

        EventStatusEnumVal = args.Value;

    }

    public async void OnEventTypeChanged(ChangeEventArgs<int, EventType> args)
    {
        EventTypeVal = args.ItemData;
    }

    public async void OnCategoryChanged(ChangeEventArgs<int, Category> args)
    {
        CategoryVal = args.ItemData;
    }

    public async void OnBookmakerSelect(ChangeEventArgs<int, Bookmaker> args)
    {
        BookmakerVal = args.ItemData;
    }



    public async void EventActionHandler(ActionEventArgs<Event> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (args.Action == "Add")
            {

                if (CategoryVal != null && EventTypeVal != null)
                {
                    args.Data.BetId = RowIndex;
                    args.Data.CategoryId = CategoryVal.CategoryId;
                    args.Data.EventTypeId = EventTypeVal.EventTypeId;
                    RepositoryWrapper.EventRepository.CreateEvent(args.Data);
                    await RepositoryWrapper.SaveAsync();
                    await EventGridInstance.Refresh();
                    Bets = await RepositoryWrapper.BetRepository.GetAllBetsAsync();
                    await BetGridInstance.Refresh();
                    
                }

                args.Cancel = true;



            }
        }
        else if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            RepositoryWrapper.EventRepository.Delete(args.Data);
            await RepositoryWrapper.SaveAsync();
            await EventGridInstance.Refresh();
        }
    }

    public async void BetActionsHandler(ActionEventArgs<Bet> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (args.Action == "Add")
            {

                args.Data.BookmakerId = BookmakerVal.BookmakerId;

                RepositoryWrapper.BetRepository.CreateBet(args.Data);
                await RepositoryWrapper.SaveAsync();
                await BetGridInstance.Refresh();
            }
        }
        else if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            RepositoryWrapper.BetRepository.DeleteBet(args.Data);
            await RepositoryWrapper.SaveAsync();
            await BetGridInstance.Refresh();
        }


    }

    private Query BuildQuery()
    {
        if (RowIndex.HasValue)
        {

            return new Query().Where("BetId", "equal", RowIndex);

        }
        else
        {
            return new Query();
        }

    }

}

